.background {
  background-color: #282c34;
}

.top-container,
.bottom-container {
  display: flex;
  flex-wrap: wrap;
}
.top-container {
  height: 75vh;
}

.bottom-container {
  height: 25vh;
}

.bottom-right-selection {
  font-size: 18px;
}

.top-left-selection,
.top-right-selection,
.bottom-left-selection,
.bottom-right-selection {
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #d2d5da;
  border: 1px solid white;
}

.account-summary ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.account-summary li {
  padding: 0.5em 0;
}

.label-color {
  color: #cccccc84;
}

.value-color {
  color: #fff;
}
