.container {
  display: flex;
  height: 100vh;
  background-color: #282c34;
}

.left-container {
  flex: 1;
  border: 1px solid white;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.top-right-container {
  height: 75vh;
  border-bottom: 1px solid white;
}

.bottom-right-container {
  height: 25vh;
}

.account-summary ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.account-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1.5em;
  margin-top: 5px;
}

.label-color {
  color: #cccccc84;
}

.value-color {
  font-weight: bold;
  color: #fff;
  margin-left: auto;
}

.test {
  padding: auto;
}
